@font-face {
  font-family: "Inter";
  src: url("/src/assets/font/Inter/Inter-Thin.eot");
  src: local("Inter Thin"), local("Inter-Thin"),
    url("/src/assets/font/Inter/Inter-Thin.eot?#iefix")
      format("embedded-opentype"),
    url("/src/assets/font/Inter/Inter-Thin.woff2") format("woff2"),
    url("/src/assets/font/Inter/Inter-Thin.woff") format("woff"),
    url("/src/assets/font/Inter/Inter-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/src/assets/font/Inter/Inter-ThinItalic.eot");
  src: local("Inter Thin Italic"), local("Inter-ThinItalic"),
    url("/src/assets/font/Inter/Inter-ThinItalic.eot?#iefix")
      format("embedded-opentype"),
    url("/src/assets/font/Inter/Inter-ThinItalic.woff2") format("woff2"),
    url("/src/assets/font/Inter/Inter-ThinItalic.woff") format("woff"),
    url("/src/assets/font/Inter/Inter-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Inter";
  src: url("/src/assets/font/Inter/Inter-Regular.eot");
  src: local("Inter Regular"), local("Inter-Regular"),
    url("/src/assets/font/Inter/Inter-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("/src/assets/font/Inter/Inter-Regular.woff2") format("woff2"),
    url("/src/assets/font/Inter/Inter-Regular.woff") format("woff"),
    url("/src/assets/font/Inter/Inter-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/src/assets/font/Inter/Inter-Italic.eot");
  src: local("Inter Italic"), local("Inter-Italic"),
    url("/src/assets/font/Inter/Inter-Italic.eot?#iefix")
      format("embedded-opentype"),
    url("/src/assets/font/Inter/Inter-Italic.woff2") format("woff2"),
    url("/src/assets/font/Inter/Inter-Italic.woff") format("woff"),
    url("/src/assets/font/Inter/Inter-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Inter";
  src: url("/src/assets/font/Inter/Inter-Bold.eot");
  src: local("Inter Bold"), local("Inter-Bold"),
    url("/src/assets/font/Inter/Inter-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("/src/assets/font/Inter/Inter-Bold.woff2") format("woff2"),
    url("/src/assets/font/Inter/Inter-Bold.woff") format("woff"),
    url("/src/assets/font/Inter/Inter-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/src/assets/font/Inter/Inter-BoldItalic.eot");
  src: local("Inter Bold Italic"), local("Inter-BoldItalic"),
    url("/src/assets/font/Inter/Inter-BoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("/src/assets/font/Inter/Inter-BoldItalic.woff2") format("woff2"),
    url("/src/assets/font/Inter/Inter-BoldItalic.woff") format("woff"),
    url("/src/assets/font/Inter/Inter-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Inter";
  src: url("/src/assets/font/Inter/Inter-Black.eot");
  src: local("Inter Black"), local("Inter-Black"),
    url("/src/assets/font/Inter/Inter-Black.eot?#iefix")
      format("embedded-opentype"),
    url("/src/assets/font/Inter/Inter-Black.woff2") format("woff2"),
    url("/src/assets/font/Inter/Inter-Black.woff") format("woff"),
    url("/src/assets/font/Inter/Inter-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/src/assets/font/Inter/Inter-BlackItalic.eot");
  src: local("Inter Black Italic"), local("Inter-BlackItalic"),
    url("/src/assets/font/Inter/Inter-BlackItalic.eot?#iefix")
      format("embedded-opentype"),
    url("/src/assets/font/Inter/Inter-BlackItalic.woff2") format("woff2"),
    url("/src/assets/font/Inter/Inter-BlackItalic.woff") format("woff"),
    url("/src/assets/font/Inter/Inter-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
