@font-face {
  font-family: "Montserrat";
  src: url("/src/assets/font/Montserrat/Montserrat-Thin.eot");
  src: local("Montserrat Thin"), local("Montserrat-Thin"),
    url("/src/assets/font/Montserrat/Montserrat-Thin.eot?#iefix")
      format("embedded-opentype"),
    url("/src/assets/font/Montserrat/Montserrat-Thin.woff2") format("woff2"),
    url("/src/assets/font/Montserrat/Montserrat-Thin.woff") format("woff"),
    url("/src/assets/font/Montserrat/Montserrat-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/src/assets/font/Montserrat/Montserrat-ThinItalic.eot");
  src: local("Montserrat Thin Italic"), local("Montserrat-ThinItalic"),
    url("/src/assets/font/Montserrat/Montserrat-ThinItalic.eot?#iefix")
      format("embedded-opentype"),
    url("/src/assets/font/Montserrat/Montserrat-ThinItalic.woff2")
      format("woff2"),
    url("/src/assets/font/Montserrat/Montserrat-ThinItalic.woff") format("woff"),
    url("/src/assets/font/Montserrat/Montserrat-ThinItalic.ttf")
      format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  src: url("/src/assets/font/Montserrat/Montserrat-Regular.eot");
  src: local("Montserrat Regular"), local("Montserrat-Regular"),
    url("/src/assets/font/Montserrat/Montserrat-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("/src/assets/font/Montserrat/Montserrat-Regular.woff2") format("woff2"),
    url("/src/assets/font/Montserrat/Montserrat-Regular.woff") format("woff"),
    url("/src/assets/font/Montserrat/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/src/assets/font/Montserrat/Montserrat-Italic.eot");
  src: local("Montserrat Italic"), local("Montserrat-Italic"),
    url("/src/assets/font/Montserrat/Montserrat-Italic.eot?#iefix")
      format("embedded-opentype"),
    url("/src/assets/font/Montserrat/Montserrat-Italic.woff2") format("woff2"),
    url("/src/assets/font/Montserrat/Montserrat-Italic.woff") format("woff"),
    url("/src/assets/font/Montserrat/Montserrat-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  src: url("/src/assets/font/Montserrat/Montserrat-Bold.eot");
  src: local("Montserrat Bold"), local("Montserrat-Bold"),
    url("/src/assets/font/Montserrat/Montserrat-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("/src/assets/font/Montserrat/Montserrat-Bold.woff2") format("woff2"),
    url("/src/assets/font/Montserrat/Montserrat-Bold.woff") format("woff"),
    url("/src/assets/font/Montserrat/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/src/assets/font/Montserrat/Montserrat-BoldItalic.eot");
  src: local("Montserrat Bold Italic"), local("Montserrat-BoldItalic"),
    url("/src/assets/font/Montserrat/Montserrat-BoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("/src/assets/font/Montserrat/Montserrat-BoldItalic.woff2")
      format("woff2"),
    url("/src/assets/font/Montserrat/Montserrat-BoldItalic.woff") format("woff"),
    url("/src/assets/font/Montserrat/Montserrat-BoldItalic.ttf")
      format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  src: url("/src/assets/font/Montserrat/Montserrat-Black.eot");
  src: local("Montserrat Black"), local("Montserrat-Black"),
    url("/src/assets/font/Montserrat/Montserrat-Black.eot?#iefix")
      format("embedded-opentype"),
    url("/src/assets/font/Montserrat/Montserrat-Black.woff2") format("woff2"),
    url("/src/assets/font/Montserrat/Montserrat-Black.woff") format("woff"),
    url("/src/assets/font/Montserrat/Montserrat-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/src/assets/font/Montserrat/Montserrat-BlackItalic.eot");
  src: local("Montserrat Black Italic"), local("Montserrat-BlackItalic"),
    url("/src/assets/font/Montserrat/Montserrat-BlackItalic.eot?#iefix")
      format("embedded-opentype"),
    url("/src/assets/font/Montserrat/Montserrat-BlackItalic.woff2")
      format("woff2"),
    url("/src/assets/font/Montserrat/Montserrat-BlackItalic.woff")
      format("woff"),
    url("/src/assets/font/Montserrat/Montserrat-BlackItalic.ttf")
      format("truetype");
  font-weight: 900;
  font-style: italic;
}
